@mixin LayoutSection($contentElementName: "Content", $options: (header: false, footer: false)) {
  /* Layout children in column */
  display: flex;
  flex-direction: column;

  /* We do not use min-height because the section cannot overflow its container */
  height: 100%;

  /* Include some padding */
  padding: 1em;

  /* This is needed to not include the padding when the children overflow */
  box-sizing: border-box;

  @if map-get($options, "header") {
    &__Header {
      flex-grow: 0;
      flex-shrink: 0;
      border: 1px solid gainsboro;
      overflow: hidden;
      margin-bottom: 1em;

      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1em;
    }

    &__HeaderLeft {
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-right: 1em;

      & *:not(:first-child) {
        margin-left: 1em;
      }
    }

    &__HeaderRight {
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;

      & *:not(:first-child) {
        margin-left: 1em;
      }
    }
  }

  &__#{$contentElementName} {
    flex-basis: 100%;
    flex-grow: 1;
    overflow: auto;
  }

  @if map-get($options, "footer") {
    &__Footer {
      flex-grow: 0;
      flex-shrink: 0;
      border: 1px solid gainsboro;
      overflow: hidden;
      margin-top: 1em;

      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1em;
    }

    &__FooterLeft {
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-right: 1em;

      & *:not(:first-child) {
        margin-left: 1em;
      }
    }

    &__FooterRight {
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;

      & *:not(:first-child) {
        margin-left: 1em;
      }
    }
  }
}
