// Override the position: fixed of mdc-top-app-bar (messes with our layout)
mdc-top-app-bar {
  position: static !important;
}

.Page {
  // Fill up available space
  height: 100%;

  // Layout children in a column
  display: flex;
  flex-direction: column;

  // The Page cannot overflow!
  overflow: hidden;

  // Top bar section
  &__Top {
    // Don't expand in height unnecessarily
    flex-grow: 0;

    &Title {
      padding: 0;
    }

    &Logo {
      height: 48px;
      vertical-align: middle;
    }
  }

  // Actual page content
  &__Content {
    // Fill up the remaining part of the Page
    flex-grow: 1;

    // Specifying an height indication in the parent container is mandatory if you want to use height: 100% in children!
    // (https://stackoverflow.com/questions/33636796/chrome-safari-not-filling-100-height-of-flex-parent)
    //
    // Also please note this is NOT equivalent to height: 100%, because the latter would take the whole Page height.
    // In other words, the Top section would not be excluded causing the Page container to overflow!
    flex-basis: 100%;

    // This container can eventually overflow
    overflow: auto;
  }
}

// Used by shared-fullscreen-button
.Element--fullscreen {
  position: fixed;
  padding: 1em;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 7; // 8 is used by dialogs
  background-color: white;
}
