<div class="DashboardSets">
  <div class="DashboardSets__Header">
    <div class="DashboardSets__HeaderLeft" mdcHeadline4>
      Sets of {{ clusterName }}
    </div>
    <div class="DashboardSets__HeaderRight">
      <mdc-text-field type="text"
                      placeholder="Search"
                      [outlined]="true"
                      [dense]="true"
                      [(ngModel)]="filterRegex"
                      (keydown)="handleKeydown($event)"
                      label="Filter">
        <mdc-icon mdcTextFieldIcon trailing>search</mdc-icon>
      </mdc-text-field>
    </div>
  </div>
  <div class="DashboardSets__Scroller">
    <shared-mdc-table [model]="data?.objects">
      <ng-template #headerTemplate>
        <tr class="mdc-data-table__row">
          <th class="mdc-data-table__column">Name</th>
          <th class="mdc-data-table__column">Number of keys</th>
          <th class="mdc-data-table__column">Partition key</th>
        </tr>
      </ng-template>
      <ng-template let-set #bodyTemplate>
        <tr class="mdc-data-table__row" (click)="navigateToListDetails(set)">
          <td class="mdc-data-table__cell">{{ set.name }}</td>
          <td class="mdc-data-table__cell">{{ set.size }}</td>
          <td class="mdc-data-table__cell">{{ set.partitionKey }}</td>
        </tr>
      </ng-template>
    </shared-mdc-table>
  </div>
  <div class="DashboardSets__Footer">
    <div class="DashboardSets__FooterLeft" title="Server time consumed for querying data">
      Query time: {{ data?.produceTime }} ms
    </div>
    <div class="DashboardSets__FooterRight">
      <shared-mdc-paginator [page]="page"
                            [pageSize]="pageSize"
                            (pageChange)="trackPageChange($event)"
                            (pageSizeChange)="trackPageSizeChange($event)">
      </shared-mdc-paginator>
    </div>
  </div>
</div>
