<shared-mdc-tree [model]="model">
  <ng-template let-node>
    <div class="MdcTreeNode MdcTreeNode__Content" [ngClass]="depthClass(node)" style="margin-right: 3em">
      <div class="MdcTreeNode__Expander">
        <ng-container *ngIf="node.children().length > 0">
          <mdc-icon *ngIf="node.collapsed()">chevron_right</mdc-icon>
          <mdc-icon *ngIf="!node.collapsed()">expand_more</mdc-icon>
        </ng-container>
      </div>
      <div class="MdcTreeNode__Icon" *ngIf="isArray(node)">
        {{ node.parentPropertyName }}
      </div>
      <div class="MdcTreeNode__Label">
        <div class="MdcTreeNode__LabelKey" *ngIf="!isArray(node)">
          {{ node.parentPropertyName }}: {{ node.data | json }}
        </div>
      </div>
    </div>
  </ng-template>
</shared-mdc-tree>
