<div class="FiltersBar">
  <div class="FiltersBar__Top">
    <!--<button mdcIconButton (click)="toggleEditor()">-->
      <!--<mdc-icon fontSet="fa" fontIcon="fa-star" mdcIconOn></mdc-icon>-->
      <!--<mdc-icon fontSet="fa" fontIcon="fa-star-o"></mdc-icon>-->
    <!--</button>-->
    <div class="FiltersBar__EditorWrapper">
      <div class="FiltersBar__EditorWrapperTitle">
        <mdc-icon class="FiltersBar__HelpIcon" (click)="showHelp()">
          help_outline
        </mdc-icon>
        JavaScript filter
      </div>
      <ace-editor class="FiltersBar__Editor"
                  mode="javascript"
                  [options]="options"
                  [(text)]="filter">
      </ace-editor>
    </div>

    <!--<button mdcIconButton icon="done" (click)="apply()"></button>-->
  </div>
</div>
