.FiltersBar {
  display: flex;
  flex-direction: column;

  &__Top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__Selector {
    width: 16rem;
  }

  &__Editor {
    margin-top: 1em;
  }
}
