.FiltersBar {
  display: flex;
  flex-direction: column;

  &__Top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__EditorWrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__EditorWrapperTitle {
    display: flex;
    align-items: center;
    padding: 1em;
  }

  &__HelpIcon {
    cursor: pointer;
    margin-right: 0.25em;
  }

  &__Editor {
    min-height: 1em;
  }
}
