<div class="FiltersBar">
  <div class="FiltersBar__Top">
    <!--<button mdcIconButton (click)="toggleEditor()">-->
      <!--<mdc-icon fontSet="fa" fontIcon="fa-star" mdcIconOn></mdc-icon>-->
      <!--<mdc-icon fontSet="fa" fontIcon="fa-star-o"></mdc-icon>-->
    <!--</button>-->

    <form [formGroup]="bindings.form">
      <mdc-select class="FiltersBar__Selector"
                  formControlName="filter"
                  [outlined]="true"
                  [autosize]="false"
                  placeholder="Filter"
                  [floatingLabel]="true">

        <option [value]="undefined" selected>(none)</option>
        <option *ngFor="let filter of bindings.filters" [value]="filter">
          {{ filter }}
        </option>
      </mdc-select>
    </form>
    <button mdcIconButton icon="edit" (click)="toggleEditor()"></button>
    <button mdcIconButton icon="done" (click)="apply()"></button>
  </div>
  <div class="FiltersBar__Editor" *ngIf="bindings.showEditor" [hidden]="!bindings.editorOpened">
    <shared-filters-editor></shared-filters-editor>
  </div>
</div>
