<div class="DashboardMultiMaps">
  <div class="DashboardMultiMaps__Header">
    <div class="DashboardMultiMaps__HeaderLeft" mdcHeadline4>
      MultiMaps of {{ clusterName }}
    </div>
    <div class="DashboardMultiMaps__HeaderRight">
      <mdc-text-field type="text"
                      placeholder="Search"
                      [outlined]="true"
                      [dense]="true"
                      [(ngModel)]="filterRegex"
                      (keydown)="handleKeydown($event)"
                      label="Filter">
        <mdc-icon mdcTextFieldIcon trailing>search</mdc-icon>
      </mdc-text-field>
    </div>
  </div>
  <div class="DashboardMultiMaps__Scroller">
    <shared-mdc-table [model]="data?.objects">
      <ng-template #headerTemplate>
        <tr class="mdc-data-table__row">
          <th class="mdc-data-table__column">Actions</th>
          <th class="mdc-data-table__column">Name</th>
          <th class="mdc-data-table__column">Number of keys</th>
          <th class="mdc-data-table__column">Number of values</th>
          <th class="mdc-data-table__column">Partition key</th>
        </tr>
      </ng-template>
      <ng-template let-map #bodyTemplate>
        <tr class="mdc-data-table__row">
          <td class="mdc-data-table__cell">
            <button mdcIconButton icon="search" (click)="navigateToMultiMapDetails(map)" title="Inspect"></button>
            <button mdcIconButton icon="bar_chart" (click)="navigateToMultiMapStats(map)" title="Statistics"></button>
          </td>
          <td class="mdc-data-table__cell">{{ map.name }}</td>
          <td class="mdc-data-table__cell">{{ map.keyCount }}</td>
          <td class="mdc-data-table__cell">{{ map.valueCount }}</td>
          <td class="mdc-data-table__cell">{{ map.partitionKey }}</td>
        </tr>
      </ng-template>
    </shared-mdc-table>
  </div>
  <div class="DashboardMultiMaps__Footer">
    <div class="DashboardMultiMaps__FooterLeft" title="Server time consumed for querying data">
      Query time: {{ data?.produceTime }} ms
    </div>
    <div class="DashboardMultiMaps__FooterRight">
      <shared-mdc-paginator [page]="page"
                            [pageSize]="pageSize"
                            (pageChange)="trackPageChange($event)"
                            (pageSizeChange)="trackPageSizeChange($event)">
      </shared-mdc-paginator>
    </div>
  </div>
</div>
