<div class="DashboardTopicStats">
  <div class="DashboardTopicStats__Header">
    <div class="DashboardTopicStats__HeaderLeft" mdcHeadline4>
      Statistics - {{ topicName }}
    </div>
    <div class="DashboardTopicStats__HeaderRight">
    </div>
  </div>

  <div class="DashboardTopicStats__Scroller">
    <div class="DashboardTopicStats__Section DashboardTopicStats__Section--misc">
      <div class="DashboardTopicStats__SectionTitle" mdcButton>
        <shared-help-button title="Tabular data">
          <ng-template>
            This sections shows the raw statistics for the topic in tabular form.
          </ng-template>
        </shared-help-button>
        Tabular data
      </div>
      <div class="DashboardTopicStats__SectionContent">
        <shared-mdc-table [model]="data?.members | keyvalue">
          <ng-template #headerTemplate>
            <tr class="mdc-data-table__row">
              <th class="mdc-data-table__column">Member</th>
              <th class="mdc-data-table__column">Creation time</th>
              <th class="mdc-data-table__column">Publish operations</th>
              <th class="mdc-data-table__column">Receive operations</th>
            </tr>
          </ng-template>
          <ng-template let-item #bodyTemplate>
            <tr class="mdc-data-table__row">
              <td class="mdc-data-table__cell">{{ item.key }}</td>
              <td class="mdc-data-table__cell">{{ item.value.creationTime | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}</td>
              <td class="mdc-data-table__cell">{{ item.value.publishOperationCount }}</td>
              <td class="mdc-data-table__cell">{{ item.value.receiveOperationCount }}</td>
            </tr>
          </ng-template>
          <ng-template #footerTemplate>
            <tr class="mdc-data-table__row">
              <td class="mdc-data-table__column">Total</td>
              <td class="mdc-data-table__column">{{ data?.aggregated.creationTime | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}</td>
              <td class="mdc-data-table__column">{{ data?.aggregated.publishOperationCount }}</td>
              <td class="mdc-data-table__column">{{ data?.aggregated.receiveOperationCount }}</td>
            </tr>
          </ng-template>
        </shared-mdc-table>
      </div>
    </div>

    <div class="DashboardTopicStats__Section DashboardTopicStats__Section--totalRate">
      <div class="DashboardTopicStats__SectionTitle" mdcButton>
        <shared-help-button title="Aggregated rates graphs">
          <ng-template>
            This graph shows the overall load of the topic (sum of all members), in terms of publish and receive operations per second.
          </ng-template>
        </shared-help-button>
        Aggregated rates
      </div>
      <div class="DashboardTopicStats__SectionContent">
        <!-- Line chart -->
        <canvas #chartLinearPushRecvRate></canvas>
      </div>
    </div>

    <div class="DashboardTopicStats__Section DashboardTopicStats__Section--memberRate">
      <div class="DashboardTopicStats__SectionTitle" mdcButton>
        <shared-help-button title="Rates per members graph">
          <ng-template>
            This graph shows the how fast each member is currently publishing and receiving messages.
          </ng-template>
        </shared-help-button>
        Rates per members
      </div>
      <div class="DashboardTopicStats__SectionContent">
        <!-- Bar chart -->
        <canvas #chartBarPushRecvMemberRate></canvas>
      </div>
    </div>

    <div class="DashboardTopicStats__Section DashboardTopicStats__Section--publishMember">
      <div class="DashboardTopicStats__SectionTitle" mdcButton>
        <shared-help-button title="Total publish per members graph">
          <ng-template>
            This graph shows how many messages have been published by each member.
          </ng-template>
        </shared-help-button>
        Total publish per members
      </div>
      <div class="DashboardTopicStats__SectionContent">
        <!-- Pie chart -->
        <canvas #chartPiePushMember></canvas>
      </div>
    </div>

    <div class="DashboardTopicStats__Section DashboardTopicStats__Section--receiveMember">
        <div class="DashboardTopicStats__SectionTitle" mdcButton>
          <shared-help-button title="Total receive per members graph">
            <ng-template>
              This graph shows how many messages have been received by each member..
            </ng-template>
          </shared-help-button>
          Total receive per members
        </div>
        <div class="DashboardTopicStats__SectionContent">
          <!-- Pie chart -->
          <canvas #chartPieRecvMember></canvas>
        </div>
      </div>
  </div>

  <div class="DashboardTopicStats__Footer">
    <div class="DashboardTopicStats__FooterRight">
      <label for="timebuffer">Buffer:</label>
      <mdc-select class="DashboardTopicStats__ActionBarRight mdc-select--dense"
                  id="timebuffer"
                  [outlined]="true"
                  [(ngModel)]="timeBuffer"
                  [floatingLabel]="false">
        <option [value]="items" *ngFor="let items of [5, 10, 20, 30, 60, 120, 300, 600]">{{ items }} seconds</option>
      </mdc-select>
    </div>
  </div>
</div>
