<div class="DashboardMaps">
  <div class="DashboardMaps__Header">
    <div class="DashboardMaps__HeaderLeft" mdcHeadline4>
      Maps of {{ clusterName }}
    </div>
  </div>
  <div class="DashboardMaps__Scroller">
    <shared-mdc-table [model]="data?.objects">
      <ng-template #headerTemplate>
        <tr class="mdc-data-table__row">
          <th class="mdc-data-table__column">Name</th>
          <th class="mdc-data-table__column">Number of keys</th>
          <th class="mdc-data-table__column">Partition key</th>
        </tr>
      </ng-template>
      <ng-template let-map #bodyTemplate>
        <tr class="mdc-data-table__row" (click)="navigateToMapDetails(map)">
          <td class="mdc-data-table__cell">{{ map.name }}</td>
          <td class="mdc-data-table__cell">{{ map.size }}</td>
          <td class="mdc-data-table__cell">{{ map.partitionKey }}</td>
        </tr>
      </ng-template>
    </shared-mdc-table>
  </div>
</div>
