.Page__Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ClustersCard {
  position: relative;
  padding: 2em;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;

  &__Logo {
    height: 100px;
    background-size: 100% auto;
    background: url(../../assets/logos/HazelcastLogo-Orange_Dark.svg) center no-repeat;
  }

  &__Form {
    display: flex;
    flex-direction: column;
    width: 400px;
  }

  &__NextButton {
    margin-top: 4em;
  }
}
