<div class="DashboardList">
  <div mdcHeadline5 class="DashboardList__Title">
    {{ listName }}
  </div>

  <div class="DashboardList__ActionBar">
    <shared-filters-bar [subscriptionId]="subscriptionId"></shared-filters-bar>
  </div>

  <div class="DashboardList__Content">
    <shared-mdc-table [model]="data?.entries">
      <ng-template #headerTemplate>
        <tr class="mdc-data-table__row">
          <th class="mdc-data-table__column mdc-data-table__column--centered">Index</th>
          <th class="mdc-data-table__column">Value</th>
        </tr>
      </ng-template>
      <ng-template #bodyTemplate let-entry let-rowIndex="rowIndex">
        <tr class="mdc-data-table__row">
          <td class="mdc-data-table__cell mdc-data-table__cell--centered">
            {{ rowIndex }}
          </td>
          <td class="mdc-data-table__cell mdc-data-table__cell--top">
            <shared-object-inspector [data]="entry.value"
                                     [stringData]="entry.valueString">
            </shared-object-inspector>
          </td>
        </tr>
      </ng-template>
    </shared-mdc-table>
  </div>
</div>
