@font-face {
  font-family: 'hzfont';
  src:  url('fonts/hzfont.eot?pfxbm3');
  src:  url('fonts/hzfont.eot?pfxbm3#iefix') format('embedded-opentype'),
    url('fonts/hzfont.ttf?pfxbm3') format('truetype'),
    url('fonts/hzfont.woff?pfxbm3') format('woff'),
    url('fonts/hzfont.svg?pfxbm3#hzfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.hzfont {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hzfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-set:before {
  content: "\e901";
}
.icon-countdown:before {
  content: "\e902";
}
.icon-hazelcast:before {
  content: "\e900";
}
.icon-hazelcast-text:before {
  content: "\e903";
}
.icon-atomic:before {
  content: "\e90f";
}
.icon-github:before {
  content: "\e904";
  color: #fff;
}
.icon-cardinality:before {
  content: "\e905";
}
.icon-executor:before {
  content: "\e906";
}
