<div mdcMenuSurfaceAnchor #anchor>
  <button mdcIconButton icon="filter_list" (click)="menu.open = !menu.open" title="Scripting">
  </button>
  <mdc-menu #menu
            class="ScriptingButton__Menu"
            [anchor]="anchor"
            [fixed]="true"
            anchorCorner="bottomStart">

    <div class="ScriptEditor">
      <div class="ScriptEditor__EditorWrapper">
        <div class="ScriptEditor__EditorWrapperTitle">
          <mdc-icon class="ScriptEditor__HelpIcon" (click)="showHelp(filterHelpDialogData)">
            help_outline
          </mdc-icon>
          Filter (JavaScript)
        </div>
        <ace-editor class="ScriptEditor__Editor"
                    mode="javascript"
                    theme="chrome"
                    [options]="options"
                    [text]="filterScript"
                    (textChange)="updateFilterScript($event)">
        </ace-editor>
      </div>
      <div class="ScriptEditor__EditorWrapper">
        <div class="ScriptEditor__EditorWrapperTitle">
          <mdc-icon class="ScriptEditor__HelpIcon" (click)="showHelp(slicerHelpDialogData)">
            help_outline
          </mdc-icon>
          Slice (JsonPath)
        </div>
        <ace-editor class="ScriptEditor__Editor"
                    mode="json"
                    theme="chrome"
                    [options]="options"
                    [text]="sliceScript"
                    (textChange)="updateSliceScript($event)">
        </ace-editor>
      </div>
    </div>
  </mdc-menu>
</div>
