.ScriptingButton {
  &__Menu {
    width: 75%;
  }
}

.ScriptEditor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__EditorWrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: calc(100% - 2em);
    margin: 1em 0;
  }

  &__EditorWrapperTitle {
    display: flex;
    align-items: center;
    padding: 1em;
    outline: 1px solid gainsboro;
  }

  &__Editor {
    min-height: 1em;
    outline: 1px solid gainsboro;
  }
}
