<div mdcMenuSurfaceAnchor #anchor>
  <button mdcIconButton icon="filter_list" (click)="menu.open = !menu.open" title="Scripting">
  </button>
  <mdc-menu #menu
            class="ScriptingButton__Menu"
            [anchor]="anchor"
            [fixed]="true"
            anchorCorner="bottomStart">

    <div class="ScriptEditor">
      <div class="ScriptEditor__EditorWrapper">
        <div class="ScriptEditor__EditorWrapperTitle">
          <shared-help-button title="Filter scripting">
            <ng-template>
              <ul>
                <li>ES6 syntax is supported.</li>
                <li>Press CTRL+Enter to apply the filter.</li>
                <li>Use <pre style="display: inline">element</pre> to refer to the current element.</li>
                <li>Use <pre style="display: inline">element.key</pre> and <pre style="display: inline">element.value</pre> with maps.</li>
                <li><strong>Don't use</strong> the <pre style="display: inline">return</pre> keyword, just write the condition.</li>
                <li>Compare strings with <pre style="display: inline">==</pre> instead of <pre style="display: inline">===</pre>.</li>
                <li>Use <pre style="display: inline">element.vector.get(index)</pre> to access Java  <pre style="display: inline">List</pre>s.</li>
                <li>You can invoke Java methods from the scripts, like normal methods.</li>
                <li>If your script throws an error for an element, it is considered as returning <pre style="display: inline">false</pre>.</li>
                <li>If your script does not compile, an empty set is returned.</li>
              </ul>
            </ng-template>
          </shared-help-button>
          Filter (JavaScript)
        </div>
        <ace-editor class="ScriptEditor__Editor"
                    mode="javascript"
                    theme="chrome"
                    [options]="options"
                    [text]="filterScript"
                    (textChange)="updateFilterScript($event)">
        </ace-editor>
      </div>
      <div class="ScriptEditor__EditorWrapper">
        <div class="ScriptEditor__EditorWrapperTitle">
          <shared-help-button title="Slice scripting">
            <ng-template>
              <ul>
                <li>Language is JsonPath.</li>
                <li>Press CTRL+Enter to apply the slice.</li>
                <li>When used with maps, slicing is applied only to values.</li>
              </ul>
            </ng-template>
          </shared-help-button>
          Slice (JsonPath)
        </div>
        <ace-editor class="ScriptEditor__Editor"
                    mode="json"
                    theme="chrome"
                    [options]="options"
                    [text]="sliceScript"
                    (textChange)="updateSliceScript($event)">
        </ace-editor>
      </div>
    </div>
  </mdc-menu>
</div>
