@import "~@angular-mdc/theme/material";

.MdcPaginator {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  overflow-x: auto;

  &__PageSelector {
    margin-left: 1em;
  }

  &__ItemsPerPageSelector {
    margin-left: 2em;
  }

  &__Caption {
    @include mdc-theme-prop(color, text-secondary-on-background);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    font-size: 12px;
    margin-left: 3em;
  }

  &__Buttons {
    margin-left: 1em;
  }
}
