<div class="Page">
  <div class="Page__Top">
    <mdc-top-app-bar [fixed]="true" [fixedAdjustElement]="bottom">
      <mdc-top-app-bar-row>
        <mdc-top-app-bar-section align="start">
          <mdc-top-app-bar-title class="Page__TopTitle">
            <img class="Page__TopImage" src="assets/logos/HazelcastLogo-Orange_Light.svg">
          </mdc-top-app-bar-title>
        </mdc-top-app-bar-section>
        <mdc-top-app-bar-section align="end">
          <shared-connection-indicator></shared-connection-indicator>
        </mdc-top-app-bar-section>
      </mdc-top-app-bar-row>
    </mdc-top-app-bar>
  </div>
  <div class="Page__Bottom" #bottom>
    <router-outlet></router-outlet>
  </div>
</div>
