.Page {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;

  &__Top {
    flex-grow: 0;
  }

  &__TopTitle {
    padding: 0;
  }

  &__TopImage {
    height: 42px;
    vertical-align: middle;
  }

  &__Bottom {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &__Side {
    flex-grow: 0;
  }

  &__Main {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

//.Page__Side + .Page__Main {
  //margin-left: 1em;
//}
