<div class="Page">
  <div class="Page__Top">
    <mdc-toolbar [fixed]="false">
      <mdc-toolbar-row>
        <mdc-toolbar-section [alignStart]="true">
          <img mdc-toolbar-menu-icon src="assets/logos/HazelcastLogo-Orange_Light_Icon.svg">
          <mdc-toolbar-title>Hazelcast Monitor</mdc-toolbar-title>
        </mdc-toolbar-section>
        <mdc-toolbar-section [alignEnd]="true" [shrinkToFit]="true">
          <shared-connection-indicator></shared-connection-indicator>
          <!--<a href="#/drawer-demo" mdcRipple mdc-toolbar-icon material-icon>file_download</a>-->
          <!--<a href="#/drawer-demo" mdcRipple mdc-toolbar-icon material-icon>print</a>-->
          <!--<a href="#/drawer-demo" mdcRipple mdc-toolbar-icon material-icon>more_vert</a>-->
        </mdc-toolbar-section>
      </mdc-toolbar-row>
    </mdc-toolbar>
  </div>
  <div class="Page__Bottom">
    <router-outlet></router-outlet>
  </div>
</div>
