<div class="Page__Side">
  <mdc-drawer drawer="permanent" [fixed]="false">
    <mdc-drawer-content>
      <mdc-list-group>
        <mdc-list>
          <ng-container *ngFor="let section of sections">
            <mdc-list-item *ngIf="!section.separator"
                           (click)="navigateTo(section)">
              <mdc-icon mdcListItemGraphic>{{ section.icon }}</mdc-icon>
              {{ section.caption }}
              <div mdcListItemMeta *ngIf="!!section.count()">
                {{ section.count() }}
              </div>
            </mdc-list-item>
            <mdc-list-divider *ngIf="!!section.separator"></mdc-list-divider>
          </ng-container>
        </mdc-list>
      </mdc-list-group>
    </mdc-drawer-content>
  </mdc-drawer>
</div>
<div class="Page__Main">
  <shared-dynamic-tabs></shared-dynamic-tabs>
</div>
