.FilterEditor {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__ActionBar {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    justify-content: flex-start;
    padding: 0.25em;
    border: 1px solid gainsboro;
    margin-bottom: 1em;
    overflow-x: auto;
    overflow-y: hidden;
  }

  &__Content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100%;
  }

  &__Filters {
    flex-grow: 1;
    flex-shrink: 0;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid gainsboro;

    & mdc-list {
      padding: 0;
    }
  }

  &__Editor {
    flex-grow: 5;
    margin-left: 1em;
    border: 1px solid gainsboro;
    overflow: hidden;

    & ngx-monaco-editor {
      height: 100%;
    }
  }
}
