<div class="mdc-data-table" [ngClass]="{ 'mdc-data-table--select-multiple': selectable }">
  <table class="mdc-data-table__content">
    <thead>
      <ng-container *ngIf="!!headerTemplate; else defaultHeaderTemplate">
        <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
      </ng-container>
      <ng-template #defaultHeaderTemplate>
        <tr class="mdc-data-table__row" *ngFor="let row of model.headerRowCount() | times">
          <th class="mdc-data-table__column" *ngIf="selectable">
            <mdc-checkbox></mdc-checkbox>
          </th>
          <th class="mdc-data-table__column mdc-data-table__column--sortable" *ngFor="let col of model.colCount() | times">
            {{ model.headerData(row, col) }}
          </th>
        </tr>
      </ng-template>
    </thead>
    <tbody>
      <tr class="mdc-data-table__row" *ngFor="let row of model.rowCount() | times" (click)="signalBodyRowClick(row)">
        <td class="mdc-data-table__cell" *ngIf="selectable">
          <mdc-checkbox></mdc-checkbox>
        </td>
        <td class="mdc-data-table__cell" *ngFor="let col of model.colCount() | times">
          <ng-container *ngIf="!!cellTemplate; else defaultCellTemplate">
              <ng-container *ngTemplateOutlet="cellTemplate; context: { $implicit: model.data(row, col), row: row, col: col }"></ng-container>
          </ng-container>
          <ng-template #defaultCellTemplate>
            {{ model.data(row, col) }}
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--<div class="mdc-data-table mdc-data-table&#45;&#45;select-multiple">-->
  <!--<table class="mdc-data-table__content">-->
    <!--<thead>-->
    <!--<tr class="mdc-data-table__row">-->
      <!--<th class="mdc-data-table__column">-->
        <!--<mdc-checkbox></mdc-checkbox>-->
      <!--</th>-->
      <!--<th class="mdc-data-table__column mdc-data-table__column&#45;&#45;sortable" aria-sort="descending">Dessert (100g serving)</th>-->
      <!--<th class="mdc-data-table__column mdc-data-table__column&#45;&#45;sortable">Calories</th>-->
      <!--<th class="mdc-data-table__column mdc-data-table__column&#45;&#45;sortable">Fat (g)</th>-->
      <!--<th class="mdc-data-table__column mdc-data-table__column&#45;&#45;sortable">Carbs (g)</th>-->
      <!--<th class="mdc-data-table__column mdc-data-table__column&#45;&#45;sortable">Protein (g)</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr class="mdc-data-table__row">-->
      <!--<td class="mdc-data-table__cell">-->
        <!--<mdc-checkbox></mdc-checkbox>-->
      <!--</td>-->
      <!--<td class="mdc-data-table__cell">Frozen yogurt</td>-->
      <!--<td class="mdc-data-table__cell">159</td>-->
      <!--<td class="mdc-data-table__cell">6</td>-->
      <!--<td class="mdc-data-table__cell">24</td>-->
      <!--<td class="mdc-data-table__cell">4</td>-->
    <!--</tr>-->
    <!--<tr class="mdc-data-table__row">-->
      <!--<td class="mdc-data-table__cell">-->
        <!--<mdc-checkbox></mdc-checkbox>-->
      <!--</td>-->
      <!--<td class="mdc-data-table__cell">Ice cream sandwich</td>-->
      <!--<td class="mdc-data-table__cell">237</td>-->
      <!--<td class="mdc-data-table__cell">9</td>-->
      <!--<td class="mdc-data-table__cell">37</td>-->
      <!--<td class="mdc-data-table__cell">4.3</td>-->
    <!--</tr>-->
    <!--<tr class="mdc-data-table__row">-->
      <!--<td class="mdc-data-table__cell">-->
        <!--<mdc-checkbox></mdc-checkbox>-->
      <!--</td>-->
      <!--<td class="mdc-data-table__cell">Eclair</td>-->
      <!--<td class="mdc-data-table__cell">262</td>-->
      <!--<td class="mdc-data-table__cell">16</td>-->
      <!--<td class="mdc-data-table__cell">24</td>-->
      <!--<td class="mdc-data-table__cell">6</td>-->
    <!--</tr>-->
    <!--<tr class="mdc-data-table__row">-->
      <!--<td class="mdc-data-table__cell">-->
        <!--<mdc-checkbox></mdc-checkbox>-->
      <!--</td>-->
      <!--<td class="mdc-data-table__cell">Cupcake</td>-->
      <!--<td class="mdc-data-table__cell">305</td>-->
      <!--<td class="mdc-data-table__cell">3.7</td>-->
      <!--<td class="mdc-data-table__cell">67</td>-->
      <!--<td class="mdc-data-table__cell">3.9</td>-->
    <!--</tr>-->
    <!--<tr class="mdc-data-table__row">-->
      <!--<td class="mdc-data-table__cell">-->
        <!--<mdc-checkbox></mdc-checkbox>-->
      <!--</td>-->
      <!--<td class="mdc-data-table__cell">Gingerbread</td>-->
      <!--<td class="mdc-data-table__cell">356</td>-->
      <!--<td class="mdc-data-table__cell">16</td>-->
      <!--<td class="mdc-data-table__cell">49</td>-->
      <!--<td class="mdc-data-table__cell">0</td>-->
    <!--</tr>-->
    <!--<tr class="mdc-data-table__row">-->
      <!--<td class="mdc-data-table__cell">-->
        <!--<mdc-checkbox></mdc-checkbox>-->
      <!--</td>-->
      <!--<td class="mdc-data-table__cell">Jelly bean</td>-->
      <!--<td class="mdc-data-table__cell">375</td>-->
      <!--<td class="mdc-data-table__cell">0</td>-->
      <!--<td class="mdc-data-table__cell">94</td>-->
      <!--<td class="mdc-data-table__cell">0</td>-->
    <!--</tr>-->
    <!--<tr class="mdc-data-table__row mdc-data-table__row&#45;&#45;selected">-->
      <!--<td class="mdc-data-table__cell">-->
        <!--<mdc-checkbox></mdc-checkbox>-->
      <!--</td>-->
      <!--<td class="mdc-data-table__cell">Lollipop</td>-->
      <!--<td class="mdc-data-table__cell">392</td>-->
      <!--<td class="mdc-data-table__cell">0.2</td>-->
      <!--<td class="mdc-data-table__cell">98</td>-->
      <!--<td class="mdc-data-table__cell">6.5</td>-->
    <!--</tr>-->
    <!--<tr class="mdc-data-table__row">-->
      <!--<td class="mdc-data-table__cell">-->
        <!--<mdc-checkbox></mdc-checkbox>-->
      <!--</td>-->
      <!--<td class="mdc-data-table__cell">Honeycomb</td>-->
      <!--<td class="mdc-data-table__cell">408</td>-->
      <!--<td class="mdc-data-table__cell">3.2</td>-->
      <!--<td class="mdc-data-table__cell">87</td>-->
      <!--<td class="mdc-data-table__cell">4.9</td>-->
    <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->
<!--</div>-->
