@import "~@angular-mdc/theme/scss/theme/_variables.scss";

.DynamicTabs {
  &__TopBar {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }
}

.Tab {
  &__Content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__RecordIcon {
    color: red;
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
  }

  &__Close {
    margin-right: 1em;
  }

  &__Close:hover {
    color: $mdc-theme-accent;
  }
}

mdc-tab-bar {
  overflow-x: hidden;
}

@keyframes blinker {
  from { opacity: 1; }
  to { opacity: 0; }
}
