<div class="DynamicTabs__TopBar">
  <button mdcIconButton (click)="scroller.incrementScroll(-65)" icon="navigate_before"></button>
  <mdc-tab-bar [activeTabIndex]="activeTabIndex"
               align="start"
               [fixed]="true">
    <mdc-tab-scroller #scroller>
      <mdc-tab *ngFor="let tab of tabs; let tabIndex = index"
               (click)="selectTab(tabIndex)">
        <mdc-tab-label>
          <div class="Tab__Content">
            <button mdcIconButton (click)="closeTab(tabIndex)" icon="close"></button>
            <!--<mdc-icon class="Tab__Close" (click)="closeTab(tabIndex)">close</mdc-icon>-->
            <div>{{ tab.label }}</div>
            <mdc-icon *ngIf="tab.recording" class="Tab__RecordIcon">fiber_manual_record</mdc-icon>
          </div>
        </mdc-tab-label>
      </mdc-tab>
    </mdc-tab-scroller>
  </mdc-tab-bar>
  <button mdcIconButton (click)="scroller.incrementScroll(65)" icon="navigate_next"></button>
</div>
<ng-template tab-host>
</ng-template>
