<div mdcTypography class="ConnectionIndicator">
  <div mdcMenuSurfaceAnchor #anchor>
    <div class="ConnectionIndicator__Caption" (click)="menu.open()">
      {{ connectionUrl }}
    </div>
    <mdc-menu #menu
              (selected)="handleMenuSelect($event)"
              [anchor]="anchor"
              anchorCorner="bottom-start">
      <mdc-list>
        <mdc-list-item>Change instance</mdc-list-item>
        <mdc-list-item>Disconnect</mdc-list-item>
      </mdc-list>
    </mdc-menu>
  </div>
  <span class="ConnectionIndicator__Dot" [ngClass]="dotClass"></span>
</div>
