.ConnectionIndicator {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0.5em;
  user-select: none;

  &__Caption {
    cursor: pointer;
  }

  &__Dot {
    margin-left: 1em;
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #a9a9a9;
    box-shadow: 0 0 0 rgba(169, 169, 169, 1);

    &--connected {
      background: #388e3c;
      box-shadow: 0 0 0 rgba(56, 142, 60, 1);
    }

    &--connected#{&}--pulse {
      animation: pulse-connected 2s;
    }

    &--connected#{&}--repulse {
      animation: repulse-connected 2s;
    }
  }
}

@keyframes pulse-connected {
  0% { box-shadow: 0 0 0 0 rgba(56, 142, 60, 1); }
  70% { box-shadow: 0 0 0 10px rgba(56, 142, 60, 0); }
  100% { box-shadow: 0 0 0 0 rgba(56, 142, 60, 0); }
}

@keyframes repulse-connected {
  0% { box-shadow: 0 0 0 0 rgba(56, 142, 60, 1); }
  70% { box-shadow: 0 0 0 10px rgba(56, 142, 60, 0); }
  100% { box-shadow: 0 0 0 0 rgba(56, 142, 60, 0); }
}
