/* You can add global styles to this file, and also import other style files */

$mdc-theme-primary: #1565c0;
$mdc-theme-secondary: #388e3c;
$mdc-theme-background: #fff;
@import "~@angular-mdc/theme/material";

// This is a SPA application
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  font-family: Roboto, sans-serif;
}

// Make the bootstrap component take the full page
app-root {
  display: block;
  height: 100%;
}

// http://www.talkingdotnet.com/dont-use-hidden-attribute-angularjs-2/
[hidden] {
  display: none !important;
}

// Style scrollbars
*::-webkit-scrollbar-track  {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 4px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #2e56bd;
}

// Angular MDC web trumps
mdc-select.mdc-select--outlined.mdc-select--dense {
  height: 32px !important;

  & select {
    border-bottom: 1px solid rgba(0, 0, 0, 0.24) !important;
    padding: 0 36px 0 0 !important;
    height: 32px !important;
  }

  & mdc-notched-outline {
    display: none;
  }
}


mdc-text-field.mdc-text-field--outlined.mdc-text-field--dense {
  height: 32px !important;

  & input {
    border-bottom: 1px solid rgba(0, 0, 0, 0.24) !important;
    height: 32px !important;

    &[type="text"] {
      padding: 0 36px 0 0 !important;
    }

    &[type="number"] {
      padding: 0 !important;
    }
  }

  & mdc-notched-outline {
    display: none;
  }
}
