<div class="DashboardCountdownLatches">
  <div class="DashboardCountdownLatches__Header">
    <div class="DashboardCountdownLatches__HeaderLeft" mdcHeadline4>
      Countdown latches of {{ clusterName }}
    </div>
    <div class="DashboardCountdownLatches__HeaderRight">
      <mdc-text-field type="text"
                      placeholder="Search"
                      [outlined]="true"
                      [dense]="true"
                      [(ngModel)]="filterRegex"
                      (keydown)="handleKeydown($event)"
                      label="Filter">
        <mdc-icon mdcTextFieldIcon trailing>search</mdc-icon>
      </mdc-text-field>
    </div>
  </div>
  <div class="DashboardCountdownLatches__Scroller">
    <shared-mdc-table [model]="data?.objects">
      <ng-template #headerTemplate>
        <tr class="mdc-data-table__row">
          <th class="mdc-data-table__column">Name</th>
          <th class="mdc-data-table__column">Count</th>
          <th class="mdc-data-table__column">Partition key</th>
        </tr>
      </ng-template>
      <ng-template let-countdownlatch #bodyTemplate>
        <tr class="mdc-data-table__row">
          <td class="mdc-data-table__cell">{{ countdownlatch.name }}</td>
          <td class="mdc-data-table__cell">{{ countdownlatch.count }}</td>
          <td class="mdc-data-table__cell">{{ countdownlatch.partitionKey }}</td>
        </tr>
      </ng-template>
    </shared-mdc-table>
  </div>
  <div class="DashboardCountdownLatches__Footer">
    <div class="DashboardCountdownLatches__FooterLeft" title="Server time consumed for querying data">
      Query time: {{ data?.produceTime }} ms
    </div>
    <div class="DashboardCountdownLatches__FooterRight">
      <shared-mdc-paginator [page]="page"
                            [pageSize]="pageSize"
                            (pageChange)="trackPageChange($event)"
                            (pageSizeChange)="trackPageSizeChange($event)">
      </shared-mdc-paginator>
    </div>
  </div>
</div>
