.DashboardFilters {
  margin: 0;
  padding: 1em;

  &__ActionBar {
    display: flex;
    width: 100%;
    margin-bottom: 1em;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &--left {
    }

    &--right {
      margin-right: 1em;
    }
  }

  &__Title {
    margin-bottom: 2em;
  }

  &__CodeEditor {
    height: calc(100vh - 300px);
  }
}

//.FilterEditor {
//  display: flex;
//  flex-direction: column;
//  //outline: 1px dashed black;
//
//  &__ActionBar {
//    //background-color: red;
//    flex-grow: 0;
//    display: flex;
//    padding: 0.25em;
//    flex-direction: row;
//    justify-content: flex-start;
//    border: 1px solid gainsboro;
//  }
//
//  &__Content {
//    margin-top: 1em;
//    flex-grow: 1;
//    //background-color: blue;
//    display: flex;
//    flex-direction: row;
//  }
//
//  &__Filters {
//    & mdc-list {
//      padding: 0;
//    }
//    flex-grow: 1;
//    //background-color: green;
//    overflow-y: auto;
//    overflow-x: hidden;
//  }
//
//  &__Editor {
//    margin-left: 1em;
//    border: 1px solid gainsboro;
//    overflow: hidden;
//    flex-grow: 5;
//    //background-color: mediumpurple;
//
//    //& ngx-monaco-editor {
//      //height: calc(100vh - 100px);
//    //}
//  }
//}
