<div class="DashboardSemaphores">
  <div mdcHeadline5 class="DashboardSemaphores__Title">Semaphores of {{ clusterName }}</div>
  <div class="DashboardSemaphores__Content">
    <shared-mdc-table [model]="data?.objects">
      <ng-template #headerTemplate>
        <tr class="mdc-data-table__row">
          <th class="mdc-data-table__column">Name</th>
          <th class="mdc-data-table__column">Permits</th>
          <th class="mdc-data-table__column">Partition key</th>
        </tr>
      </ng-template>
      <ng-template let-semaphore #bodyTemplate>
        <tr class="mdc-data-table__row">
          <td class="mdc-data-table__cell">{{ semaphore.name }}</td>
          <td class="mdc-data-table__cell">{{ semaphore.permits }}</td>
          <td class="mdc-data-table__cell">{{ semaphore.partitionKey }}</td>
        </tr>
      </ng-template>
    </shared-mdc-table>
  </div>
</div>
